<!-- views/partials/_navbar.ejs -->
<nav>
  <% if(user) { %>
  <div class="navbar-header">
    <div class="logo-container">
      <div class="ghost-icon"></div>
      <h1>AnimeRecommend</h1>
    </div>
    <div class="nav-links">
      <a href="/users/profile">Profile</a>
      <a href="/animes">Your Anime List</a>
      <a href="/auth/sign-out">Sign Out</a>
    </div>
  </div>
  <% } else { %>
  <div class="navbar-header">
    <div class="logo-container">
      <div class="ghost-icon"></div>
      <h1>AnimeRecommend</h1>
    </div>
    <div class="auth-links">
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/auth/sign-in">Sign In</a>
    </div>
  </div>
  <% } %>
</nav>
