<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Community</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="community-container">
    <h1>Explore Our Community</h1>
    <ul class="user-list">
      <% users.forEach((user) => { %>
        <li>
          <a href="/users/<%= user._id %>"><%= user.username %></a>
        </li>
      <% }) %>
     </ul>
     <div class="binoculars-icon-container">
      <img src="/images/binoculars.png" alt="Binoculars Icon" class="binoculars-icon">
    </div>
  </div>
</body>
</html>


