<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Anime List</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
  <h1>Your Anime List</h1>
  <a href="/users/<%= user._id %>/animes/new">Add a New Anime</a>
  <ul>
    <% animes.forEach((anime) => { %>
      <li><%= anime.title %> - <%= anime.status %></li>
    <% }) %>
  </ul>
</body>
</html>
