<!-- views/animes/new.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Add a New Anime</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Add a New Anime</h1>
<form action="/users/<%= user._id %>/animes" method="POST">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title" required>
  
  <label for="status">Status:</label>
  <select id="status" name="status">
    <option value="Interested">Interested</option>
    <option value="Watching">Watching</option>
    <option value="Completed">Completed</option>
    <option value="On Hold">On Hold</option>
    <option value="Dropped">Dropped</option>
    <option value="Plan to Watch">Plan to Watch</option>
  </select>

  <label for="recommended">Recommended:</label>
  <input type="checkbox" name="recommended" id="recommended">

  <label for="notes">Notes:</label>
  <textarea name="notes" id="notes"></textarea>
  <button type="submit">Add Anime</button>
</form>

</body>
</html>
